*{
    font-family: arial;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 99vw;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    height: 21px;
}

#mensagemErro{
    opacity: 0;
}

#submit{
}